body {
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
}
.page-section {
    height: 100vh;
}
.element {
    font-size: 5em;
    display: inline;
}
#about-header {
    margin: 3% 0 0 0;
}
#typing {
    margin-left: 3%;
}
#front-page {
    background: url(../images/building-tinted.jpg) center center fixed no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#about-page {
    background: rgba(255, 255, 255);
}
#intro {
    color: white;
    margin-top: 25%;
    font-size: 7em;
    margin-bottom: 15%;
}
#arrow {
    height: 200px;
    width: 300px;
    display: block;
    margin: 0 auto;
}
#profile-pic-section {
    margin-top: 10%;
}
#profile-picture {
    height: 400px;
    width: 400px;
    overflow: hidden;
}
#about-me-section {
    margin-top: 10%;
}
#about-me {
    font-size: 1.5em;
    text-align: justify;
}
#contacts {
    text-align: center;
    padding-top: 5%;
}
#contacts a {
    padding: 1%;
    color: black;
    opacity: 0.6;
}
/*fade in*/
.fade {
    -webkit-animation: fadein 1s ease-in 1s forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s ease-in 1s forwards; /* Firefox < 16 */
        -ms-animation: fadein 1s ease-in 1s forwards; /* Internet Explorer */
         -o-animation: fadein 1s ease-in 1s forwards; /* Opera < 12.1 */
            animation: fadein 1s ease-in 1s forwards;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*typed.js*/
.typed-cursor{
    font-size: 5em;
    color: gray;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*Responsive Design*/
@media (max-width: 480px) {
    #intro {
        margin-bottom: 0;
    }
    #profile-picture {
        height: 200px;
        width: 200px;
    }
    .element {
        font-size: 2em;
        display: inline;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    #intro {
        margin-bottom: 10%;
    }
    #profile-picture {
        height: 300px;
        width: 300px;
    }
    .element {
        font-size: 3em;
        display: inline;
    }
}